input {
  width: 242px;
}
.calc-app {
  margin: 0 auto;
  margin-top: 40px;
  width: 250px;
}

.container {
  display: grid;
  background-color: aqua;
  grid-template-columns: repeat(4, 1fr);
}

#zero {
  grid-column: 1 / span 2;
}
